/*###################### GENERAL STYLES #####################*/

body {
    display: flex;
    margin: 0;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
}

#camera-box {
    border: 2px solid red;
    background-color: transparent;
    z-index: 3;
    overflow: auto;
    position: fixed; /* Position relative to the viewport */
    top: 50%; /* Move to 50% from the top */
    left: 50%; /* Move to 50% from the left */
    transform: translate(-50%, -50%); /* Offset by half the width and height to center */
    display: none; /* Hide the element by default */
  }

#canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

canvas {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#ui-elements {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#ui-elements * {
    pointer-events: auto;
}

.hidden {
    display: none;
}

.progress-bar-container {
    z-index: 6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#progress-label {
    color: rgb(175,175,175);
    font-size: 25px;
    border: none;
    margin-bottom: 20px;
}

/* Container for the progress bar */
#progress-bar-box {
    width: 25%;
    height: 10px;
    background-color: rgb(50,50,50);
    border-radius: 5px;
    overflow: hidden;
}

/* The actual progress bar */
#progress-bar {
    width: 0%; /* Initial width is 0, you can change it dynamically with JS */
    height: 100%;
    background-color: rgb(175,175,175); /* Green color for the filled portion */
    border-radius: 5px;
    transition: width 0.3s ease;
}

.label {
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-right: 10px;
    border: 1px solid rgb(175,175,175);
    border-radius: 5px;
    background-color: black;
    color: rgb(175,175,175);
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

/*
    HELP BOX
*/

#help-box {
    z-index: 5;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 25vw;
    height: 50vh;
    background-color: black;
    border: 2px solid gray;
    color: gray;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0% 1.5% 0% 1.5%; /* top, right, bottom, left */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  }

  #help {
    font-size: 25px;
    font-weight: 600;
    color: gray;
  }

  .centered {
    text-align: center;
  }

  .left {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: gray;
  }

  p, ul, br {
    color: gray;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  ul {
    padding-left: 20px;
  }

  ul li {
    margin-bottom: 5px;
  }

  /* Custom Scrollbar Styles */
  #help-box::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  #help-box::-webkit-scrollbar-track {
    width: 6px;
    background-color: #333; /* Dark background for the track */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #help-box::-webkit-scrollbar-thumb {
    background-color: #555; /* Dark gray color for the thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }

  #help-box::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Slightly lighter color on hover */
  }