/*###################### GENERAL STYLES #####################*/

body {
    display: flex;
    margin: 0;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
}

#camera-box {
    border: 2px solid red;
    background-color: transparent;
    z-index: 3;
    overflow: auto;
    position: fixed; /* Position relative to the viewport */
    top: 50%; /* Move to 50% from the top */
    left: 50%; /* Move to 50% from the left */
    transform: translate(-50%, -50%); /* Offset by half the width and height to center */
    display: none; /* Hide the element by default */
  }

#canvasContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

canvas {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#ui-elements {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#ui-elements * {
    pointer-events: auto;
}

.hidden {
    display: none;
}

.progress-bar-container {
    background-image: url('/images/hera_spacecraft.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 7;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#progress-label {
  color: rgb(175,175,175);
  font-size: clamp(4vh, 8vw, 15vh);
  font-family: 'Orbitron', 'oxanium';
  border: none;
  position: absolute;
  top: 10vh;
  transition: font-size 0.3s ease;
}

/* Container for the progress bar */
#progress-bar-box {
    width: 70%; /* Full width */
    height: 3vh; /* Adjust the height as needed */
    background-color: rgb(50, 50, 50);
    position: fixed; /* Fix the bar to the bottom */
    bottom: 5vh; /* Align it exactly at the bottom of the screen */
    clip-path: polygon(2.5% 0%, 0% 100%, 97.5% 100%, 100% 0%);
}

/* The actual progress bar */
#progress-bar {
    width: 0%; /* Set the initial width */
    height: 100%;
    background-color: rgb(175, 175, 175); /* Progress color */
    clip-path: polygon(2.5% 0%, 0% 100%, 97% 100%, 100% 0%);
    transition: width 0.3s ease;
}

.label {
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 1px;
    padding-right: 10px;
    border: 1px solid rgb(175,175,175);
    border-radius: 5px;
    background-color: black;
    color: rgb(175,175,175);
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

/*
    INFO BOX
*/

#info-box {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 65vw;
    height: 65vh;
    background-color: black;
    border: 2px solid gray;
    color: gray;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0% 1.5%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    transform: translate(-50%, -50%);
  }

  #info {
    font-size: 25px;
    font-weight: 600;
    color: gray;
  }

  .centered {
    text-align: center;
  }

  .left {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: gray;
  }

  p, ul, br {
    color: gray;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  ul {
    padding-left: 20px;
  }

  ul li {
    margin-bottom: 5px;
  }

  /* Custom Scrollbar Styles */
  #info-box::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  #info-box::-webkit-scrollbar-track {
    width: 6px;
    background-color: #333; /* Dark background for the track */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #info-box::-webkit-scrollbar-thumb {
    background-color: #555; /* Dark gray color for the thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }

  #info-box::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Slightly lighter color on hover */
  }




  #telemetry {
    z-index: 4;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 65vw;
    height: 65vh;
    background-color: black;
    border: 2px solid gray;
    color: gray;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0% 1.5%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
    transform: translate(-50%, -50%);
  }

  #tlm {
    font-size: 25px;
    font-weight: 600;
    color: gray;
  }

  #telemetry::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

  #telemetry::-webkit-scrollbar-track {
    height: 6px;
    width: 6px;
    background-color: #333; /* Dark background for the track */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #telemetry::-webkit-scrollbar-thumb {
    background-color: #555; /* Dark gray color for the thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }

  #telemetry::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Slightly lighter color on hover */
  }

  .x {
    font-size: 10px;
    color: rgb(175,175,175);
    font-family: 'Roboto', 'IBM Plex Sans', sans-serif;
  }


  #telemetry-table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }



  .mantissa {
    width: 7ch;
  }

  .exp {
    width: 7ch;
  }

  .bold-row {
    font-weight: bold;
  }

  .vec {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #telemetry-table th > table {
    margin: 0 auto;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }

  #telemetry-table td > table {
    margin: 0 auto;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }

  #telemetry-table td > table td {
    margin: 0 auto;
  }

  #telemetry-table {
    font-size: clamp(0.6rem, 1vw, 1rem); /* Shrinks text if screen is narrow */
  }

  @media (max-width: 1024px) {
    #telemetry-table {
      font-size: 0.75rem;
    }
  }

  @media (max-width: 768px) {
    #telemetry-table {
      font-size: 0.4rem;
    }
  }

  @media (max-width: 480px) {
    #telemetry-table {
      font-size: 0.1rem;
    }
  }



